.splash-destinations {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 1200px;
    /* background-image: url(black.jpg);  */
    z-index: 0;
    margin-top: 100px;
}

.online-exp {
    margin: 0 15px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 10px;
    flex-basis: 33%; 
    max-width: 100vw; 
    text-align: center;
    cursor: pointer;
}

.grid-container {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 1fr 1fr;
  max-height: 580px;
}

.grid-container img{
    width: 100%;
}

.splash-destinations p {
    width: 30%;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Palatino, URW Palladio L, serif;
}

.splash-destinations h2{
    margin-top: 50px;
    width: 50%;
    color: #ffffff;
    font-size: 35px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Palatino, URW Palladio L, serif !important;
}

.splash-online-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#peng {
    width: 192%;
    height: 10%;
}

.online-exp-row {
  
    display: flex;
    justify-content: space-between;
}

.left-online {
    height: 500px;
}

.explore-btn {
    width: 70px;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: Palatino, URW Palladio L, serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: rgb(255, 255, 255) !important;
    margin-left: 50px;
    margin-right: 50px;
    height: 33px;
    width: 110px;
    text-decoration: none !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(255, 255, 255);
    background: transparent;
}

.explore-btn:hover {
    background-color: #606060	;
}

.online-exp {
    margin: 0 15px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #282828;
    border-radius: 10px;
    flex-basis: 33%; 
    max-width: 100vw; 
    text-align: left;
    cursor: pointer;
    color: #ffffff;
    font-family: Palatino, URW Palladio L, serif !important;
    font-size: 16px;
}

.paren-text-container{
    padding: 5px;
}

#guy {
    height: 50%;
}

.spots-content {
    width: 1000px;
    height: 245px;
}






