.nav, .nav-1, .nav-2 {
  height: 77px;

}

.nav-1 {
  width: 100%;
  display: flex;
}
.nav-2 {
  width: 500px;
}

.nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  z-index: 100;
}


.nav-btn {
  margin: 16px 0;
  cursor: pointer;
  border: 0;
  padding: 0 0 3px 0;
  background: #ff0066;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.nav-content {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  font-family: Palatino, URW Palladio L, serif;
}

.nav-signin {
  display: flex;
  justify-content: center;
  padding: 13px 20px;
  vertical-align: middle;
  &:hover {
    border-bottom: 2px solid dimgray;
    padding-bottom: 12px;
    cursor: pointer;
  }
}



.modal-field {
  width: 430px;
  height: 25px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 12px;
}


.modal-field:focus{
  border-color: black;
  outline: none;
}

.input-container {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}



.input-container input:focus {
  border-color: black;
  outline: none;
}





.input-container[data-error] .modal-field {
  border-color: #c92432;
  color: #c92432;
  background: #fffafa;
}

.logo{
  width: 73px;
}

.profile-img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.modal-field {
    padding: 15px 10px 0px 10px;
    border: none;
    position: relative;
    width: 95%;
    height: 85%;
    color: lighten(black, 22%);
    background-color: transparent;
    outline: none;

    & + label{
    color: lighten(black, 60%);
    position:absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;  
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}
