.nav, .nav-1, .nav-2 {
  height: 8vh;
}

.nav {
  width: 100vw;
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  z-index: 100;
}

.nav-1 {
  width: 50%;
  display: flex;
  margin-top: 0px;
  z-index: 1;
}

.nav-2 {
  width: 50%;
  display: flex;
  margin-top: 0px;
  z-index: 1;
}

.nav-2-right {
  margin-top: 1.6%;
  display: flex;
  flex-direction: row;
  right: 0;
  margin-left: 2%;
  width: 22vw;
}

.social-media {
  display: flex;
  margin-left: 63%;
  margin-right: 4%;
  margin-top: 1%;
  width: 22vw;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.logo5 {
  font-size: 50px;
  font-family: 'Montserrat';
  margin-top: 5px;
  margin-left: -2px;
}



.nav-btn {
  margin: 16px 0;
  cursor: pointer;
  border: 0;
  padding: 0 0 3px 0;
  background: #ff0066;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  outline: none;
}

.nav-content {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-family: 'Montserrat';
}

.nav-signin {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 12px;
  vertical-align: middle;
  width: 90px;
  height: 20px;
}

.nav-signin:hover {
    background-color: rgba(82, 79, 79, 0.08);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
  }

.nav-signin1 {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 12px 22px;
  vertical-align: middle;
}



.modal-field, .modal-field1, .modal-field2, .modal-field3, .modal-field4 {
  width: 40%;
  height: 25px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 12px;
}


.personal-social {
  padding-top: -50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}




.personal-social i {
  margin-top: 5px;
  padding-bottom: 20px;
  line-height: 40px;
  font-size: 45px;
  transition: 0.3s linear;
  padding-left: 5px;
  text-align: center;
}

.personal-social i:hover {
  transform: scale(1.3);
  color: #f1f1f1;
}

.personal-social:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.personal-social:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.git {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #202020;
  overflow: hidden;
  position: relative;
}

.git i {
  margin-top: 5px;
  line-height: 40px;
  font-size: 45px;
  transition: 0.3s linear;
  padding-left: 5px;
  text-align: center;
}

.git i:hover {
  transform: scale(1.3);
  color: #f1f1f1;
}

.git:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #202020;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.git:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}


.modal-field:focus{
  border-color: rgb(49, 45, 45);
  outline: none;
}

.input-container {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}



.input-container input:focus {
  border-color: black;
  outline: none;
}

.input-container[data-error] .modal-field1,.input-container[data-error] .modal-field2,.input-container[data-error] .modal-field,.input-container[data-error] .modal-field3,.input-container[data-error] .modal-field4{
  border-color: #c92432;
  color: #c92432;
  background: #fffafa;
}

.logo{
  width: 85px;
  position: relative;
  margin-top: -8px;
  margin-left: 3px;
  outline: none;
}

.profile-img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.modal-field {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    width: 430px;
    height: 25px;
    color: lighten(black, 22%);
    background-color: transparent;

    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 14px;
    margin-top: 83px;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}


.modal-field1 {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    width: 430px;
    height: 25px;
    color: lighten(black, 22%);
    background-color: transparent;

    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 13px;
    margin-top: 142px;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}


.modal-field2 {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    width: 430px;
    height: 25px;
    color: lighten(black, 22%);
    background-color: transparent;

    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 13px;
    margin-top: 142px;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}

.modal-field3 {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    width: 430px;
    height: 25px;
    color: lighten(black, 22%);
    background-color: transparent;

    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 13px;
    margin-top: 221px;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}


.nav-search {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 25vw;
  height: 55px !important;
  border: 1px solid rgb(144, 143, 143);
  justify-content: space-between;
  margin-left: 35px;
  margin-top: 5px;
  padding:5px;
  box-shadow: 0 5px 10px -5px #00000070;
}

.nav-search2 {
  width: 400px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  height: 74px;
  border: 1px solid #f9f0f0;
  border-radius: 6px;
  margin-top: 1px;
  margin-left: -2px;
   box-shadow: 0 5px 10px -5px #dad8d870;
   display: flex;
  justify-content: space-between;
  
}


.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
}

.modal-field4 {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    width: 430px;
    height: 25px;
    color: lighten(black, 22%);
    background-color: transparent;

    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 13px;
    margin-top: 63px;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 12px;
  }
}

.search-label {
  font-size: 16px;
}
input.search {
  width: 150px;
}
.search {
    border: 1px solid #dddddd;
    padding: 15px 10px 0px 10px;
    border: 1px solid #dddddd;
    position: relative;
    margin-top: 7px;
    border: none;
    color: lighten(black, 22%);
    background-color: transparent;
    font-size: 16px;
    width: 200px !important;
  
    & + label{
    color: lighten(black, 60%);
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 130px;
    margin-top: 2px;
    font-size: 26px;
    font-weight: 800;
  } 
  &:focus{
    outline: none;
    transition: all .2s ease-out;
    border-color: rgb(49, 45, 45);
  }
   &:focus + label {
    display: inline;
    top: 9px;
    color: gray;
    font-size: 12px;
    transition: top 0.2s;
  }
   &:valid + label {
    top: 9px;
    font-size: 13px;
    font-weight: 800;
  }
}

#checkin {
  width: 260px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  height: 100%;
  border-radius: 6px;
  margin-top:px;
  margin-left: 1px;
  outline: none;
  border: none;
     & + label{
    color: solid black;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 19px;
    left: 14px;
    transition: all .2s ease-out;
    z-index: 5000;
    margin-left: 365px;
    margin-top: -2px;
  } 
}

#checkin:focus {
  border: 1px solid rgb(36, 33, 33);
  outline: none;
}

.search-button {
  background: #ff0066;
  color: white;
  border-radius: 9px;
  width: 110px;
  height: 45px;
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  margin-top: 5px;
}

.search-button:hover {
  background-color: #f91570;
  transform: scale(1.001);
  transition: 0.3s;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");




