.splash-experinces{
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.splash-column {
    margin: 0 15px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 10px;
    flex-basis: 33%; 
    max-width: 100vw; 
    text-align: center;
    cursor: pointer;
}

.splash-image {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* border-radius: 10px;; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
}

.header-content {
    position: static;
    text-align: center;
    font-family: Palatino, URW Palladio L, serif;
    color: black;
    top: 150px;
    z-index: 4;
}


.splash-exp-image {
    border-radius: 10px;
    width: 360px;
    height: 240px;
}

.top {
    font: 18px solid black;
    padding: 3px;
    font-weight: bold;
    align-items: center;
    font-family: Palatino, URW Palladio L, serif;;
}

.bottom {
    font: 13px solid black;
    padding: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Palatino, URW Palladio L, serif;;
}

.parent {
    text-align: center;
}

.splash-spot {
    margin-top: 100px;
    border-radius: 10px;
    flex-basis: 10%; 
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;;
    display: block;
    margin-bottom: 50px;
    width: 140%;
    z-index: 0;
} 
/* 
.v-header-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-header-container video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
} 

.v-header-container .header-content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.v-header-container .header-content h1{
    margin: 0;
    padding: 0;
    font-size: 4.5em;
} */


.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Palatino, URW Palladio L, serif;
  padding: 20px;
  margin: 15px;
  z-index: 9;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.explore-btn1 {
    border: transparent;
    background: transparent;
    padding: 10px 20px;
    font-size: 25px;
    font-family: Palatino, URW Palladio L, serif;
    cursor: pointer;
    margin: 10px;
    position: relative;
    --accent-color: #0AF;
}

.explore-btn1:hover {
    color: #fff;
}

.explore-btn1:focus {
    outline: 0;
}

.explore-btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0AF;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
    /* transform-origin: left; */
}
.explore-btn1:hover::before,
.explore-btn1:focus::before {
    transform: scaleX(1);
}

.explore-btn1 {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.explore-btn1:hover::before,
.explore-btn1:focus::before {
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
}





