.splash-experinces{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    grid-gap: 25px;
    position: relative;
    margin-left: 6%;
    margin-right: 5%;
}

.splash-column {
    margin: 0 15px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.splash-image {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
}

.header-content {
    position: static;
    text-align: center;
    font-family: 'Montserrat';
    color: black;
    top: 150px;
    z-index: 4;
}


.splash-exp-image {
    width: 100%;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top {
    font: 18px solid black;
    padding: 3px;
    font-weight: bold !important;
    align-items: center;
    font-family: 'Montserrat';
}

.bottom {
    font: 15px solid black;
    padding: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Montserrat';
}

.parent {
    text-align: center;
}

.splash-spot {
    margin-top: 100px;
    border-radius: 10px;
    flex-basis: 10%; 
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;;
    display: block;
    margin-bottom: 50px;
    width: 140%;
    z-index: 0;
} 

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Montserrat';
  padding: 20px;
  margin: 15px;
  z-index: 9;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.explore-btn1 {
    border: transparent;
    background: transparent;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Montserrat';
    cursor: pointer;
    margin: 10px;
    position: relative;
    --accent-color: #0AF;
}

.explore-btn1:hover {
    color: #fff;
}

.explore-btn1:focus {
    outline: 0;
}

.explore-btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0AF;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
}
.explore-btn1:hover::before,
.explore-btn1:focus::before {
    transform: scaleX(1);
}

.explore-btn1 {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.explore-btn1:hover::before,
.explore-btn1:focus::before {
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
}





