.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white;
  border: 1px solid rgb(230, 73, 73);
}

.CalendarDay__selected {
  background: rgb(235, 75, 75);
  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}