

.spot-main-container {
    display: flex;
    flex-direction: row;
    // border: 1px solid black;
    width: 100%;
    margin-bottom: 12px;
}
.main-spot {
    width: 700px;
    margin-bottom: 10px;
}

.main-spot:hover {
    transform: scale(1.02);
    transition: all 1s ease;
}

.spot-price {
    margin-left: 100%;
    /* margin-right: -99%; */
    margin-top: -5%;
    /* display: flex;
    justify-content: center; */
}

.index-photo {
    border-radius: 5px;
}


.spot-price span {
    font-weight: bold !important;
    font-size: 20px;
    text-align: right;
}


.row-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 465px;
}

.spot-info {
    margin-top: 10px;
    margin-bottom: 10px;
}


.rating-spot {
    text-align: right;
}

.spots-content {
    padding-top: 5%;
    width: 100%;
    display: flex;
    height: 100%;
}

.left-side {
    width: 60%;
}
.right-side {
    width: 40%;
    position: fixed;
    right: 0;
    border-radius: 10px;
    margin-right: -50px;
    height: 100%;
}


.rating-spot {
    list-style-image: url('star.png');
}
.rating-star {
    display: flex;
    flex-direction: row;
}

.star {
    margin-top: -2px;
    padding-right: 2px;
    color: rgb(242, 88, 88);
    // display: flex;
    // flex-direction: row;
}

.rating-container {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.google {
    margin-right: -150px;
    margin-bottom: 20px;
}



