/* .spot-photos-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.spot-container {
    display: block;
    margin: 100px;
    padding-left: 35px;
    padding-right: 35px;
    font-family:'Metropolis';
}

.split-spot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-left-side {
    width: 60%;
}

.spot-map1 {
    /* position: absolute; */
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 100px;
    /* margin-bottom: 50px */
}

.empty {
    height: 50px;
    margin-bottom: 250px;
}

.spot-map h2 {
    margin-top: 70px;
}
.spot-map-google {
    padding-top: 40px;
    padding-bottom: -20px;
}
.spot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.spot-main-photo {
    width: 100% !important;
}

.main-photo {
    width: 93% !important;
}

.reviews-container {
    width: 50%;
    height: 200px;
    padding-bottom: 170px;
}

.spot-rating {
    margin: left 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
}

.spot-nav {
    padding: 1px;
    margin-left: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.spot-photos-container{
    margin: 5px;
}

.spot-photos-container img {
    padding: 5px;
    width: 95%;
    height: 46.5%;
    transition: 1s;
    border-radius: 10px;
}

.spot-photos-container img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.spot-side-photos {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 200px;
}

.spot-reviews {
    margin-top: -40px;
    /* position: relative; */
    margin-bottom: 0;
}

.spot-rating-review{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 18px;
}

.review-head {
    margin-top: 19.5px;
    margin-left: 5px;
}

.spot-details {
    width: 50%;
    padding-left: 10px;
}

.spot-description {
    font-size: 18px;
}

.review-body {
   font-size: 18px; 
}

.spot-title {
    cursor: pointer;
}

.date-input {
    font-size: 14px;
}

.main-spot-photo {
    cursor: pointer;
}

.spot-details h2 {
    font-size: 25px !important;
}

.additional-spot-info h2 {
    font-size: 25px !important;
}

.spot-amenities .h2 {
    font-size: 25px;
}

.spot-city {
    font-size: 25px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.additional-spot-info {
    height: 300px;
    width: 60%;
    margin-top: 55px;
}
.spot-info-containers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.spot-bedroom, .spot-common-spaces {
    height: 35%;
    width: 45%;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 10px;
    text-align: left;
    padding: 24px;
}
.spot-bedroom i {
    font-size: 20px;
}
.spot-common-spaces{
    margin-left: 20px;
}

.spot-bedroom span {
    padding-top: 10px;
    font-size: 20px;
}

.spot-bedroom p {
    font-size: 16px;
    margin-top: -5px;
}

.spot-common-spaces span {
    font-size: 20px;
    position: relative; 
    bottom: 5;
}

.spot-common-spaces i {
    font-size: 20px;
}

.spot-common-spaces p {
    font-size: 16px;
    margin-top: 10px;
}


.spot-amenities {
    margin-top: -37px;
    width: 570px;
    height: 300px;
    border: 1px black;
  
}

.spot-amenities-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-amenities-col1 {
    display: flex;
    flex-direction: column;
}

.spot-amenities-col2 {
    display: flex;
    flex-direction: column;
}

.spot-amenity {
    display: flex;
    flex-direction: row; 
    padding: 5px;
    font-size: 17px;
    /* margin-top: 10px; */
}

.spot-amenity i {
    font-size: 25px !important;
    margin-right: 9px;
}

.spot-amenity {
    font-size: 16px;
}

.spot-amenities hr{
    width: 100%;
}

.additional-spot-info hr {
    display: flex;
    flex-direction: row;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.review-rating {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: left;
    margin-bottom: 15px;
}

.review-rating1 {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    margin-bottom: 15px;
}



.review-guest {
    margin-top: 21px;
    font-weight: bolder;
}





