.spot-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 100px;
    padding-left: 35px;
    padding-right: 35px;
    font-family:'Montserrat';
    height: 100%;
}

.split-spot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}

.spot-left-side {
    width: 60%;
    height: 100%;
}

.map-work {
    position: relative;
    height: 20% !important;
}

.up {
    height: 90%;
    margin-bottom: 30px;
    height: 90% !important;
}

.spot-map1 {
   width: 20%;
   bottom: 0;
}

.empty {
    height: 50px;
    margin-bottom: 250px;
}

.spot-map-google {
    padding-top: 40px;
    padding-bottom: -20px;
}

.spot-map{
    position: relative;
    margin: 3vh;
    width: 100%;
}

.map-wor {
    margin-top: 3vh;
}
.spot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.spot-main-photo {
    width: 100% !important;
}

.main-photo {
    width: 93% !important;
}

.reviews-container {
    width: 50%;
    height: 40%;
    margin-bottom: 100px;
}

.review-form-containter {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh !important;
    width: 18vw;
    height: 45vh;
    box-shadow: 0 5px 15px -5px #00000070;
    padding: 15px;
    border-radius: 20px;
}

.review-header h3 {
    margin: 0 auto;
}

.spot-rating {
    margin: left 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
}

.spot-nav {
    padding: 1px;
    margin-left: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.spot-photos-container{
    margin: 5px;
}

.spot-photos-container img {
    padding: 5px;
    width: 95%;
    height: 46.5%;
    transition: 1s;
    border-radius: 10px;
}

.spot-photos-container img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

.spot-side-photos {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 200px;
}

.spot-reviews {
    margin-top: -40px;
    height: 100%;
    margin-bottom: 100px;
}

.create-review {
    width: 100%;
    height: 500px;
}

.spot-rating-review{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 18px;
}

.review-head {
    margin-top: 19.5px;
    margin-left: 5px;
}

.spot-details {
    width: 50%;
    padding-left: 1vw;
}

.spot-description {
    font-size: 18px;
}
.review-middle {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
    margin-top: 2vh;
}

.reviews-ratings {
    margin-bottom: 1vh;
    position: relative;
}

.review-body {
    margin-top: 0px;
   font-size: 18px; 
   resize: none;
   border-radius: 5px;
   width: 100%;
   height: 50%;
   outline: none;
   
}

.reviews-stars-create {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.reviews-stars-create input {
    display: none;
}

.reviews-stars-create label {
    display: block;
    cursor: pointer;
    width: 60%;
    padding-left: 10px;
}

.reviews-stars-create label::before {
    content: '\f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 20px;
    color: #ccc;
}

.reviews-stars-create label::after {
    content: '\f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    display: block;
    color: #ff0066;
    transition: 0.4s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating {
    margin-bottom: 20px;
}

.reviews-stars-create label:hover::after,
.reviews-stars-create label:hover ~ label::after,
.reviews-stars-create input:checked ~ label::after {
    opacity: 1;
}

.add-review-btn {
    margin-top: 15px;
    margin-left: 18px;
    cursor: pointer;
    border: 0;
    padding: 0 0 3px 0;
    background: #ff0066;
    color: white;
    width: 90%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

.spot-title {
    cursor: pointer;
    font-weight: 1000;
}

.date-input {
    font-size: 14px;
}

.main-spot-photo {
    cursor: pointer;
}

.spot-details h2 {
    font-size: 25px !important;
}

.additional-spot-info h2 {
    font-size: 25px !important;
}

.spot-amenities .h2 {
    font-size: 25px;
}

.spot-city {
    font-size: 25px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.additional-spot-info {
    height: 300px;
    width: 60%;
    margin-top: 55px;
}
.spot-info-containers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.spot-bedroom, .spot-common-spaces {
    height: 35%;
    width: 45%;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 10px;
    text-align: left;
    padding: 24px;
}
.spot-bedroom i {
    font-size: 20px;
}
.spot-common-spaces{
    margin-left: 20px;
}

.spot-bedroom span {
    padding-top: 10px;
    font-size: 20px;
}

.spot-bedroom p {
    font-size: 16px;
    margin-top: -5px;
}

.spot-common-spaces span {
    font-size: 20px;
    position: relative; 
    bottom: 5;
}

.spot-common-spaces i {
    font-size: 20px;
}

.spot-common-spaces p {
    font-size: 16px;
    margin-top: 10px;
}


.spot-amenities {
    margin-top: -37px;
    width: 570px;
    height: 300px;
    border: 1px black;
  
}

.spot-amenities-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-amenities-col1 {
    display: flex;
    flex-direction: column;
}

.spot-amenities-col2 {
    display: flex;
    flex-direction: column;
}

.spot-amenity {
    display: flex;
    flex-direction: row; 
    padding: 5px;
    font-size: 17px;
}

.spot-amenity i {
    font-size: 25px !important;
    margin-right: 9px;
}

.spot-amenity {
    font-size: 16px;
}

.spot-amenities hr{
    width: 100%;
}

.additional-spot-info hr {
    display: flex;
    flex-direction: row;
}


hr.style-seven {
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.review-rating {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: left;
    margin-bottom: 15px;
}

.review-rating1 {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    margin-bottom: 15px;
}



.review-guest {
    margin-top: 21px;
    font-weight: bolder;
}