.booking-index-container {
    margin-top: 25px;
    font-family: 'Montserrat';
    padding-left: 65px !important;
    padding-right: 40px !important;
}


.booking-picture {
    width: 90%;
    height: 100%;
    z-index: 0;
    margin-top: 100px;
}

.review-item-container {
    margin-bottom: 30px;
}

.booking-picture1 {
    width: 90%;
    height: 320px;
    z-index: 0;
    margin-top: 100px;
    position: fixed;
     filter: blur(3px);
  -webkit-filter: blur(3px);
}

.booking-index-container h1 {
    z-index: 1;
    margin-top: 110px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.booking-index-header {
    display: flex;
    flex-direction: row;
    width: 200px;
    font-size: 16px;
    margin-top: 26px;
}

.upcoming-booking {
    padding-right: 22px;
}

.booking-index-button {
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Montserrat' !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: rgb(255, 255, 255) !important;
    height: 55px;
    width: 166px;
    text-decoration: none !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(255, 255, 255);
    background: black;
    z-index: 3;
    margin-bottom: 1%;
    margin-top: 2%;
}



