
.booking-item-container {
  margin: 0 15px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 10px;
    flex-basis: 33%; 
    max-width: 360px; 
    /* text-align: center; */
    cursor: pointer;
    height: 430px;
    z-index: 4;
}

.photo-booking{
     border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
}

.photo-booking img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.bookings-item-columns {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    padding-top: 10px;
    grid-gap: 20px;
    margin-left: 70px;
    /* position: absolute; */
}

.bottom-booking-item {
    text-align: left;
    padding: 10px;
    /* margin-bottom: 145px; */
}

.date-booking-header {
    font-size: 13px;
    color: rgb(97, 96, 96);
}

.booking-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-total-header {
    font-size: 15px;
}

.booking-total-header span {
    font-size: 16px;
    font-weight: 600;
}

.booking-middle {
    display: flex;
    flex-direction: row;
}

.booking-middle-photo img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 10px;
    
}

.booking-location {
    margin-bottom: 5px;
}

.booking-title {
    margin-top: 8px;
}

.booking-par {
    font-size: 14px;
    font-weight: 300;
}

/* .destroy-booking {
      justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: Palatino, URW Palladio L, serif !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: rgb(255, 255, 255) !important;
    height: 55px;
    width: 166px;
    text-decoration: none !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(255, 255, 255);
    background :#ff0066;
    z-index: 3;
} */

/* .edit-booking {
      justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: Palatino, URW Palladio L, serif !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 150px;
    height: 55px;
    width: 166px;
    text-decoration: none !important;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(255, 255, 255);
    background: rgb(76, 181, 231);
    z-index: 3;
    margin-top: 140px;
} */

.edit-booking {
    border: transparent;
    background: transparent;
     justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Metropolis' !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-bottom: 150px;
    height: 55px;
    width: 166px;
    --accent-color: #0AF;
}

.edit-booking:hover {
    color: #fff;
}

.edit-booking:focus {
    outline: 0;
}

.edit-booking::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0AF;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
    /* transform-origin: left; */
}
.edit-booking:hover::before,
.edit-booking:focus::before {
    transform: scaleX(1);
}

.edit-booking {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.edit-booking:hover::before,
.edit-booking:focus::before {
    color: white;
}


.destroy-booking {
    border: transparent;
    background: transparent;
     justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Metropolis' !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    /* margin-bottom: 150px; */
    height: 55px;
    width: 166px;
    --accent-color :#ff0066;
    margin-left: 72px;
}

.destroy-booking:hover {
    color: #fff;
}

.destroy-booking:focus {
    outline: 0;
}

.destroy-booking::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:#ff0066;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
    /* transform-origin: left; */
}
.destroy-booking:hover::before,
.destroy-booking:focus::before {
    transform: scaleX(1);
}

.destroy-booking {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.destroy-booking:hover::before,
.destroy-booking:focus::before {
    color: white;
}